<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC

    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"

    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- 1、配置数据库信息（必须） -->
		
<!-- 		spring中配置，进行代替 -->
	<!-- 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property> -->
		
		
		<!-- 2、配置hibernate信息（可选） -->
		<!-- 输出底层sql语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 输出底层sql语句格式 -->
		<property name="hibernate.format_sql">true</property>

		<!-- 设置事务的隔离级别
		<property name="hibernate.connection.isolation">4</property> -->

		<!-- hibernate绑定session（保证session是单线程操作） -->
<!-- 		<property name="hibernate.current_session_context_class">thread</property> -->

		<!-- hibernate帮忙进行创建表，需要进行配置才有这个功能 -->
		<!-- update：如果没有，则进行创建；如果有，则进行更新 -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- 3、把映射文件放到核心配置文件中（必须） -->
		<mapping resource="cn/zhku/jsj144/ssh/entity/User.hbm.xml" />
		

	</session-factory>

</hibernate-configuration>
